/*   Styles for Menu                */
/*   Styles responsive @media for big size                */
header {
  position: fixed;
  top: 0;
  background: rgb(0, 0, 0);
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  z-index: 120;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

header a, h1, p {
  color: white;
  width: 100%;
}

.titlePage {
  width: 100%;
  padding-left: 60px;
}

.titlePage h1 {
  font-size: 40px;
  margin-bottom: 4px;
}

.titlePage p {
  margin-top: 5px;
  font-size: 20px;
}

nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  position: fixed;
  top: 110px;
  background: rgba(0, 0, 0, 0.81);
  z-index: 110px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
  background: rgba(4, 4, 4, 0.38);
  height: 100%;
  padding-top: 40px;
  font-size: 40px;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-right: 3px;
}

nav ul li a {
  width: 100%;
  font-size: 25px;
  padding-right: 40px,
}

.submenu {
  width: 100%;
  background: #0069D9;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 150;
  height: 100%;
}

.option {
  background: rgba(255, 255, 255, 0);
  margin: 0 auto;
  padding-left: 5px;
  font-size: 35px;
  height: 100%;
  width: 100%;
}

.option a {
  font-size: 35px;
}

/*   Problem with bootrap         */
.adjustSubMenu {
  height: 80px;
  border-bottom: 2px solid white;
  border-bottom: 4px solid black;
  font-size: 30px;
  height: 100px;
  padding-top: 15px;
}

/*   Required for see any component              */
main {
  margin-top: 130px;
}

/*   Problen size bootrap             */
.fill {
  z-index: 160;
}

@media(min-width:1024px) {

  /*adjust bootrap .containr*/
  h1 {
    width: 100%;
    font-size: 40px;
  }

  /*adjust bootrap .containr*/
  .fill {
    width: 1000px;
    min-height: 100%;
    height: 100%;
  }

  nav {
    position: relative;
    height: 90px;
    top: 0;
  }

  nav, .titlePage {
    width: 50%;
  }

  nav ul li {
    padding-top: 20px;
    width: 30%;
  }

  .submenu {
    position: fixed;
    height: 68px;
    min-height: 68px;
    background: rgba(228, 228, 228, 0.24);
    padding-left: 50px;
    z-index: 140;
  }

  .adjustSubMenu {
    color: black;
    background-color: #0069D9;
    height: 95%;
    font-size: 35px;
    border-bottom: 0;
    padding-top: 0;
    text-align: center;
    border-bottom: 0px solid white;
    border: 0px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0px 0px 15px 15px;
  }

  .adjustSubMenu p {
    color: white;
  }

  .adjustSubMenu:hover p {
    color: white;
  }

  .adjustSubMenu:hover {
    background: rgba(0, 0, 0, 0.69);
    color: white;
    margin-bottom: 2px;
    font-size: 40px;
    padding: 1px;
    height: 100%;
    cursor: pointer;
    border-radius: 0px 0px 15px 15px;
  }

  /*hide element return*/
  .hideResponsive {
    display: none;
  }

  .option a:hover {
    color: rgb(221, 221, 221);
    cursor: pointer;
  }
}
